.apple-button {
	margin: 0px 0 0 0;
	background-size: 24px;
	width: 24px;
	height: 24px;
	background-image: url("Resources/apple-dark.svg");
}

.apple-button-hover {
	margin: 0px 0 0 0;
	background-size: 24px;
	width: 24px;
	height: 24px;
	background-image: url("Resources/apple.svg");
}
